{% load static%}
<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} Portfolio Management System  </title>
    <style>
            body {
                background-color: #D3DDDF;
            }
        </style>

       
    </head>
    <body>
      
        <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
             <a href="#" class="flex items-center space-x-2 text-xl font-semibold">
           <i class="fa fa-film" style="font-size: 36px; color: #8B8B00;"></i>
            <span class="text-2xl w-16 h-16 leading-tight text-lightgoldenrod-400 font-serif" style="color: #8B8B00;">Portfolio Management System</span>
           </a>
            
            <div class="space-x-6 flex items-center">
            {% if user.is_authenticated %}
    <div class="flex items-center space-x-6" style="color: #8B8B00;">
         <a href="{% url 'view_portfolio' %}" class="text-lg font-semibold hover:text-gray-500">Home</a>
        <a href="{%url 'about' %}" class="text-lg font-semibold hover:text-gray-500">About</a>    
       <a href="{% url 'portfolio_registration_view' %}" class="text-lg font-semibold hover:text-gray-500">Add Portfolio</a>
       <a href="{% url 'portfolio_list' %}" class="text-lg font-semibold hover:text-gray-500">View Portfolio</a>
       
    </div>
    <a href="{% url 'signout' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"style="color: #8B8B00; background-color: #444444;" >{{user.username}},Signout</a>
{% else %}
     <a href="#" class="text-lg font-semibold hover:text-gray-500" style="color: #8B8B00;" >About</a>
     
    <a href="{% url 'signin' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700" style="color: #8B8B00; background-color: #444444;">Sign in</a>
    <a href="{% url 'signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700" style="color: #8B8B00; background-color: #444444;">Sign up</a>
{% endif %}

            </div>
        </nav>
       <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>
       
       
          
        <footer class="py-6 px-6 flex justify-between bg-gray-500">
  <div class="w-2/3 pr-10">
    <h3 class="mb-3 font-semibold text-gray-400">About us</h3>
    <div class="font-sans leading-relaxed">
      <p class="text-lg text-lightgoldenrod-400">
        Welcome to our Portfolio Management System! Our system is designed to help individuals manage
        their portfolio data more efficiently and effectively. With our system, you can easily manage your 
        portfolio, track your investment progress, and make informed decisions based on your portfolio's performance.
        Our platform provides a user-friendly interface that allows you to easily monitor
        your portfolio's performance over time and analyze your investments. Start managing your portfolio with us today!
      </p>
